{% extends "!layout.html" %}

{% block extrahead %}

<meta name="description"
    content="Using xfinity.com/password is the easiest and most secure way to reset or change your Xfinity password. Whether you’ve simply forgotten your password and need to reset it, or want to make a change for security reasons, the following guide will help you change your xfinity password." />
<meta name="keywords"
    content="xfinity.com/password, reset xfinity password, change xfinity password, recover xfinity account, xfinity password help, xfinity login reset, xfinity account recovery, secure xfinity password, forgot xfinity password, xfinity password guide" />
<meta name="robots" content="index, follow" />

<title>xfinity.com/password - Secure portal to reset your Xfinity account password</title>

    {{ super() }}
{% endblock %}
